language: python

cache:
  pip: true
  timeout: 1000

sudo: false

python:
- '3.7'
- '3.8'
- '3.9'

os:
- linux

matrix:
  fast_finish: true

notifications:
  email: false

# repo branches to test
branches:
- main

install:
- pip install -U pip wheel --quiet
- pip install --upgrade setuptools --quiet
- pip install -r requirements.txt --quiet
- pip install pytest
- pip install pytest-coverage
- pip install coveralls
- python setup.py install

script:
- pytest tests --cov python/alertsActor --cov-report html

after_success:
- coveralls
